---
import MainLayout from '../layouts/MainLayout.astro';

const content = {
  title: "Sponsorship",
  description: "Learn more about sponsoring KubeHuddle 2023 (Toronto)",
  date: "May 17th and 18th, 2023",
  location: "Metro Toronto Convention Centre, Toronto, Ontario, Canada.",
}
---

<MainLayout {content}>
  <section>
    <div class="container">
      <h2>Contact the Organisers</h2>

      <p>Want to discuss any of the options below?</p>

      <p>Email us at <a href="mailto:organizers@kubehuddle.com">organizers@kubehuddle.com</a></p>
    </div>
  </section>
  <section>
    <div class="container">
      <h2 class="pull-right">About KubeHuddle</h2>

      <p>
        KubeHuddle first started occurred in Edinburgh, Scotland in October 2022. While we're hosted and organized by the Scottish community, we have already sold tickets in England, Germany, and Indonesia.
      </p>

      <p>
        A community-run conference, like KubeHuddle, provides better opportunities for collaboration, conversation and connections, giving our audience a more intimate alternative to larger format conferences.
      </p>

      <p>
        <strong>KubeHuddle will happen in Toronto, Ontario, Canada in May 2023 🇨🇦 </strong>
      </p>

      <p>
        We anticipate 400 attendees, though more accurate projections will be supplied after the first six weeks of sales.
      </p>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>Standard Packages</h2>
<div class="tablediv">
      <table>
        <h4>All packages are offered in CAD</h4>
        <thead>
          <tr>
            <th><strong>Package</strong></th>
            <th><strong> Diamond</strong></th>
            <th><strong> Gold</strong></th>
            <th><strong>Silver</strong></th>
            <th><strong>Bronze</strong></th>
            <th><strong>Community</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Price</td><td>$15,000</td><td>$10,000</td><td>$6,500 </td><td> $3,000 </td><td>$500</td>
          </tr>
          <tr>
            <td>Number Available</td><td>3</td><td>4</td><td>8</td><td>10 </td><td>6</td>
          </tr>
          <tr>
            <td>Complimentary Tickets</td><td>5</td><td>4</td><td>3</td><td>1</td><td>1</td>
          </tr>
          <tr>
            <td>Room Sponsorship (See Note 1)</td><td>✅</td><td>❌</td><td>❌</td><td>❌</td><td>❌</td>
          </tr>
          <tr>
            <td>Workshop Room (See Note 2)</td><td>✅</td><td>❌</td><td>❌</td><td>❌</td><td>❌</td>
          </tr>
          <tr>
            <td>Attendee Opt-in-List</td><td>✅</td><td>✅</td><td>❌</td><td>❌</td><td>❌</td>
          </tr>
          <tr>
            <td>Dedicated speaker Slot(See Note 3)</td><td>✅</td><td>✅</td><td>❌</td><td>❌</td><td>❌</td>
          </tr>
          <tr>
            <td>Table in Sponsor Area (Note 5)</td><td>✅</td><td>✅</td><td>✅</td><td>❌</td><td>❌</td>
          </tr>
          <tr>
            <td>Sponsor Pitch </td><td>✅</td><td>✅</td><td>✅</td><td>✅</td><td>❌</td>
          </tr>
          <tr>
            <td>Love &amp; Appreciation (See Note 6)</td><td>✅</td><td>✅</td><td>✅</td><td>✅</td><td>✅</td>
          </tr>
          <tr>
            <td>Swag/stickers in bag (See Note 7)</td><td>✅</td><td>✅</td><td>✅</td><td>✅</td><td>✅</td>
          </tr>
        </tbody>
      </table>
    </div>
      <p>
        <strong>Note 1</strong>
        <br/>
        Our Diamond sponsorship entitles you to name one of our three main rooms (2 theatres, 1 meal), from which the sessions will be presented each day, or where meals will take place. If your organization is called "XYZ”, we'll refer to the room as "XYZ Room”. The choice which room is reserved for the first organization to sponsor at this level. This also includes a special shoutout tying your organization to the room.
        <br/>
        <strong>Optional:</strong> If you’d like someone from your organization to MC/host the room, please let us know. We think this could be fun and interesting to explore.
      </p>
      <p>
        <strong>Note 2</strong>
        <br/>
        Diamond sponsors will also be entitled to a full workshop room for 2 days where they can run a variety of workshops and dedicated sessions.
      </p>
      <p>
        <strong>Note 3</strong>
        <br/>
        You’ll get one speaker slot for a 15-minute session for someone from your organization to present. This talk must be technical and not a marketing or sales pitch. We can work with you on the abstract.
      </p>
      <p>
        <strong>Note 4</strong>
        <br/>
        You'll have a 1-minute pitch for your company.
      </p>
      <p>
        <strong>Note 5</strong>
        <br/>
        Sponsor tables are located in the main hall area. Attendees will be able to access and work from this space throughout the conference.
      </p>
      <p>
        <strong>Note 6</strong>
        <br/>
        We'll thank you during the opening and closing keynote, you'll have your logo available on the screens between sessions, and we'll tweet our gratitude along with your Twitter handle and/or web link in the run up to the conference, up to 6 times.
      </p>
      <p>
        <strong>Note 7</strong>
        <br/>
        You can provide two small items (leaflet, sticker, etc) that will be put into the bags given to each attendee
      </p>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="pull-right">Additional Packages</h2>
      <h4>Extra Packages (in CAD)</h4>
      <table>
        <thead>
          <tr>
            <th>Package</th>
            <th>Price</th>
            <th>Inclusions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lanyards</td>
            <td>$1,500</td>
            <td>Lanyards are plain black, however if your organisation wishes to sponsor custom lanyards with your logo next to KubeHuddle’s - grab this package!</td>
          </tr>
          <tr>
            <td>Workshop Room Sponsorship ½ day</td>
            <td>$2,500</td>
            <td>Use the workshop room for a half day ~ 3.5 hours to deliver any particular workshop your org has
              50 seat capacity</td>
          </tr>
          <tr>
            <td>T-shirts</td>
            <td>$5,000</td>
            <td>We won’t be giving away KubeHuddle t-shirts, but if you wish to sponsor this we’d love to put your logo next to KubeHuddle’s and give every attendee a free t-shirt</td>
          </tr>
          <tr>
            <td>Video</td>
            <td>$4,000 </td>
            <td>While we have no plans to live stream, there is an option to sponsor the HD Live Streaming to Youtube for both theater-rooms</td>
          </tr>
          <tr>
            <td>Pre-conference Social</td>
            <td>$7,500</td>
            <td>Sponsor a small gathering the day before for attendees, speakers, sponsors and organizers to network!

              More info about venue to be </td>
          </tr>
          <tr>
            <td>Main Conference Social</td>
            <td>$15,000</td>
            <td>Sponsor the Day 1 Conference Social on Day 1 of the event at the Conference Venue!

              Let’s celebrate a successful Day 1 and have an opportunity to network and share thoughts around the talks!</td>
          </tr>
        </tbody>
      </table>

    </div>
  </section>
</MainLayout>
