---
const { content } = Astro.props;
---


<header>
  <img src="/logo.svg" style="margin: 0 auto;" />
  <a href="/" class="mt-4">
    <span class="separated-row">
      <h1 style="text-align: right">
        KubeHuddle
      </h1>
      <span class="divider"></span>
      <span class="year">2022</span>
    </span>
  </a>
  <div class="separated-row">
    <div id="event-location">
      🌍 {content.location || ""}
    </div>
    <span class="divider"></span>
    <div id="event-date">
      {content.date || ""} 🗓
    </div>
  </div>
  <p style="color: white;">Scotland's Kubernetes conference, community-run and hosted in Edinburgh.</p>
  <a target="_blank" href="https://buytickets.at/kubehuddle" class="big-button" style="text-align: center">Get your ticket</a>
</header>

<style>
  .mt-4 {
    margin-top: 1rem;
  }

  header {
    min-height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/edinburgh.webp");
    background-size: cover;
    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
    align-items: center;
    justify-content: center;
    padding: 1em;
    padding-bottom: 3em;
    position: relative;
  }

  .separated-row {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }

  .separated-row .divider {
    border: 1px solid white;
    height: 100%;
  }

  #event-location {
    text-align: right;
    font-weight: 700;
  }

  #event-date {
    font-weight: 500;
  }

  header img {
    max-width: 200px;
  }

  header h1 {
    text-align: right;
    color: var(--primary-50);
  }

  header a {
    text-decoration: none;
  }

  header #event-date,
  header #event-location {
    color: var(--primary-50);
    font-size: 1.1em;
  }

  header::before {
    --radius: 30px;
    position: absolute;
    bottom: calc(-1 * var(--radius));
    width: calc(var(--radius) * 2);
    height: calc(var(--radius) * 2);
    background: #fff;
    color: var(--primary-600);
    content: "⎈";
    font-size: 3em;
    text-align: center;
    z-index: 9;
    border-radius: var(--radius);
    left: calc(50vw - var(--radius));
  }

  .year {
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }

  .big-button {
    transition: all ease-in-out .1s;
  }

  .big-button:hover {
    box-shadow: 2px 2px 2px var(--primary-500), 2px 2px 10px var(--primary-200);
    border: 1px solid var(--primary-500);
  }
</style>
