---
import Section from "../Section.astro";

import dayjs from "dayjs";

type Conference = {
  location: string;
  cover: string;
  href?: string;
  date: [dayjs.Dayjs, string];
};

const formatDate = (date: [dayjs.Dayjs, string]) => date[0].format(date[1]);

const conferences: Conference[] = [
  {
    location: "Toronto - Canada",
    cover: "toronto.jpeg",
    href: "https://ca.kubehuddle.com",
    date: [dayjs().year(2024).month(4).date(7), "YYYY-MM-DD"],
  },
  {
    location: "Edinburgh - Scotland",
    cover: "edinburgh.jpeg",
    date: [dayjs().year(2024), "YYYY"],
  },
  {
    location: "Karlsruhe - Germany",
    cover: "karlsruhe.jpeg",
    date: [dayjs().year(2025), "YYYY"],
  },
];
---

<Section id="conferences">
  <div class="flex flex-col items-center w-full">
    <h2 class="text-4xl font-bold dark:text-white">Conferences</h2>

    <div
      class="grid grid-cols-1 pl-2 pr-2 lg:pl-12 lg:pr-12 lg:mt-16 lg:grid-cols-1 gap-y-12 gap-x-16 w-full"
    >
      {
        conferences.map((conference) => (
          <div class="flex flex-col gap-4 sm:flex-row sm:items-stretch">
            <p class="w-auto text-sm font-medium text-gray-500 sm:text-right sm:w-32 dark:text-gray-400 shrink-0">
              {formatDate(conference.date)}
            </p>

            <div class="hidden w-px bg-gray-200 sm:shrink-0 dark:bg-gray-700 sm:block" />

            <div class="flex-1 space-y-4">
              <h4 class="text-xl font-bold text-gray-900 dark:text-white">
                <a href={conference.href} class="hover:underline">
                  {conference.location}
                </a>
              </h4>

              <img
                src={conference.cover}
                class="w-full h-48 object-cover object-center"
              />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Section>
